$base_font_size: 37.5px; // html字体大小(注意这个值相对于设计图（设计图分为100a，10a=1rem, 750px设计图font_size为75px）,用于移动端计算)

$page_base_width: 1200px; // 页面最小宽度
$page_base_width_max: 1200px; // 页面最小宽度
$page_base_width_min: 1200px; // 页面最小宽度

$theme_color: #274293;
$theme_color_aide: #f9cf47;
$page_bg_color: #f5f5f5;
$page_bg_color_index: #ffffff;

// 字体颜色
$font_color_0: #333E48;
$font_color_1: #4F5F6F;
$font_color_2: #728395;
$font_color_3: #9CA2A8;
$font_color_4: #1E88E5;
$font_color_5: #FF7700;
$font_color_main: #454F66;

// 字体大小
$font_size_small_extra_extra: 12px;
$font_size_small_extra: 13px;
$font_size_small: 14px;
$font_size_medium: 16px;
$font_size_large: 18px;
$font_size_extra_large: 20px;

// othen color

// 边框色
$border_color: #DDDDDD;
// 分隔块颜色
$part_color: #F0F3F6;
